<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Product Alert</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signout">Sign Out</a></li>
            <li><a href="/dashboard/{{id}}">Dashboard</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>This should only show {{id}}.</h1>
            <a class="waves-effect waves-light btn" href="/dashboard/{{id}}/new-alert">Create new alert</a>
        </div>
    </div>
    <div class="row">
        {{#each alerts}}
        <img src="{{this.imageURL}}">
        <h3>{{this.title}}</h3>
        <p>{{this.price}}</p>
        <a href="{{this.url}}">View item</a>
        {{/each}}
    </div>
</div>